body{
    background-color: #E9F0FA;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4A8BC1;
    margin-top: 40px;
    
}